<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" name="post-title" id="post-title" />
    </div>
    <div>
      <label for="post-url">Link</label>
      <input name="post-url" id="post-url" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>